#about{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #0E8FAB;
}

.circle{
    width:400px;
    height:400px;
    /*background:#e93b81;*/
    background: #047a95;
    border-radius: 50%;
    position: relative;
    box-shadow:0px 5px  12px rgba(0,0,0,.7);
    margin-bottom: 1%;
    margin-top: 1%;
    transition: 1s;
}

.circle img{
    border-radius: 50%;
    position:absolute;
    height:350px;
    top:6%;
    left:12%;
    box-shadow: 0px 30px 50px rgba(0,0,0,.4);
    filter:drop-shadow(0px 30px 15px rgba(0,0,0,.4));
    transition:1s;
}

.circle:hover{
    width:700px;
    height:400px;
    border-radius: 10px;
    transition: 1s;
}

.circle:hover img{
    position:absolute;
    left:0%;
    transition:1s;
}

.circle:hover .content{
    position:absolute;
    top:15%;
    right:0;
    color:white;
    width:50%;
    opacity:1;
    transition:1s;
}

.circle .content{
    opacity:0;
}

@media screen and (max-width:576px){
    .circle{
        width:400px;
        height:400px;
        background:#a4154e;
        border-radius: 50%;
        position: relative;
        box-shadow:0px 5px  12px rgba(0,0,0,.7);
        margin-bottom: 3%;
        margin-top: 8%;
        transition: 1s;
    }
    
    .circle:hover img{
        position:absolute;
        left:0%;
        left:8%;
        transition:1s;
    }
    .circle:hover{
        width:400px;
        height:600px;
        border-radius: 10px;
        transition: 1s;
    }

    .circle:hover .content{
        position:absolute;
        top:60%;
        right:0;
        color:white;
        width:100%;
        opacity:1;
        transition:1s;
        padding:15px;
    }
    
    .circle .content{
        opacity:0;
    }

}